#background
    {
        background-color: #aed5dd;
    }
.logo
    {
        width: 80px;
    }
#logo_link
    {
       justify-self: center;
       align-self: center;
    }
header
    {
        display: grid;
        grid-template-columns: 150px 150px 150px auto;
        background-color: #303433;
        margin-bottom: 80px;
        border: 2px solid black;
    }
nav
    {
        display: flex;
        justify-content: space-around;
        background-color: #303433;
        align-items: center;
    }
nav a
    {
        text-align: center;
        color: white;
        padding: 30px;
        font-size: 1.5em;
        font-family: 'Times New Roman', helvetica, sans-serif;

    }
nav a:hover
    {
        color: white;
        background-color: #919999;
    }
.self
    {
        max-width: 25%;
        border: solid #919999 5px;
        margin-right: 10%;
        float: left;
        margin-top: -50px;
        margin-bottom: 2%;
    }
#intro
    {
        text-align: center;
        margin-right: 100px;
        margin-left: 10%;
        vertical-align: middle;
        padding-bottom: 70px;
        font-family: helvetica, sans-serif;
    }
#intro h1
    {
        text-align: left;
        text-decoration: underline;
        font-family: 'Times New Roman', helvetica, sans-serif;
    }
#intro h3
    {
        font-weight: normal;
    }
#spacer 
    {   
        display: grid;
        height: 40px;
        width: 100%;
        background-color: #303433;
        margin-bottom: 2%;
        border: 2px solid black;
    }
.couple
    {
        max-width: 70%;
        border: solid #919999 5px;
        margin-left: 15%;
        margin-top: 25px;
    }
#second
    {
        display: grid;
        grid-template-columns: 1fr 55%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
    }
#second h3
    {
        margin-right: 50px;
        padding-top: 100px;
        padding-bottom: 50px;
        grid-row: 1/3;
        grid-column: 2/3;
        font-family: helvetica, sans-serif;
        font-weight: normal;
    }
#second h1
    {
        text-align: left;
        text-decoration: underline;
        grid-column: 2/3;
        grid-row: 1/2;
        font-family: 'Times New Roman', helvetica, sans-serif;
    }
footer
    {
       background-color: #303433;
       color: white;
       grid-gap: 50px;
       display:grid;
       grid-template-columns: 100px 100px auto 200px;
       align-items: center;
       align-content: center;
       text-align: center;
       font-size: 1.2em;
       font-family: 'Times New Roman', helvetica, sans-serif;
       border: 2px solid black;
    }
footer p
    {
        grid-column: 4/5;
        text-align: center;
    }
footer img
    {   
        margin-top: 5px;
    }
footer a:hover
    {
        color: white;
        background-color: #919999;
    }
/*Page 2 Begins*/
#proj
    {
        text-align: center;
        padding: 20px;
        margin-top: -80px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
.proj-head
    {
        background-color: #919999;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
.proj-text
    {
        background-color: #919999;
        margin-top: -40px;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 20px;
        font-family: helvetica, sans-serif;
    }
#background2
    {   
        padding-top: 50px;
        background-color: #303433;
        padding-bottom: 50px;
    }
.proj-grid
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
        padding: 20px 0;
    }
.proj-img
    {
        background-color: #eee;
        padding: 10px;
        margin: 0 auto;
        display: block;
        max-width: 450px;
        max-height: 450px;
    }
.pre-ghost
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }
.com-ghost
    {
        grid-column: 2/3;
        grid-row: 1/2;
    } 
/*Page 3 Begins*/   
.ach-head
    {
        text-align: center;
    }
.container
    {
        outline: 1px solid black;
        margin-left: 65px;
        margin-right: 65px;
        margin-top: -40px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
.ach-text
    {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
#spacer-ach
    {
        display: grid;
        height: 40px;
        width: 100%;
        background-color: #303433;
    }
#spacer-ach2
    {
        display: grid;
        height: 40px;
        width: 100%;
        background-color: #303433;
    }
.ach-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
.ach-img
    {
        max-height: 350px;
        margin: 0 auto;
        background-color: #aed5dd;
        padding: 5px;
        
    }
.ach-img-lrg
    {
        max-height: 450px;
        margin: 0 auto;
        background-color: #aed5dd;
        padding: 5px;
    }
/*
    {
        outline: 1px solid red;
    }
*/




