#background
{
    background-color: black;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.hero
{
display: block;
margin: 0 auto;
width: 33%;
border-radius: 15px 15px 0px 0px;
padding-top: 10px;
}
.date
{
    text-align: center;
    margin: 0 auto;
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    background-color: white;
    padding-top: 20px;
    max-width: 33%;
}
.title
{
    text-align: center;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    width: 33%;
}
.text
{
    text-align: center;
    background-color: white;
    margin: 0 auto;
    width: 33%;
    padding-bottom: 20px;
    
}
.grid
{
    display: grid;
    background-color: navy;
    width: 33%;
    margin: 0 auto;
    align-items: safe center;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 10px;
}
.number
{
    color: white;
    text-align: center;
    grid-column: 1/2;
}
.views
{
    color: white;
    text-align: center;
    grid-column: 2/3;
}
.comments
{
    color: white;
    text-align: center;
    grid-column: 3/4;
}